@model TutorialWebApi.MVC.Models.ProjetosMVC
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <br /><br />
    <div class="panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"> Registrar projetos</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label>Projeto</label>
                        @Html.TextAreaFor(m=>m.NomeProjeto,new { @class = "form-control" })
                    </div>
                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-saved"> Salvar</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jquery");
    }
